{%extends "BestDealClientBundle::layout.html.twig"  %}
    <center><h1> Deal </h1></center>

            <a href="{{path("best_deal_rechercheCat",{"idCat":produit.idCat})}}">   
   {{produit.idDeal}} {{produit.nomDeal}}
                </a>   

