{%extends "BestDealClientBundle::layout.html.twig"  %}

{%block content%}
<div class="register_account">
          	<div class="wrap">
    	     <h4 class="title" >Livraison</h4>
{%include 'BestDealLivraisonBundle:Default:map.html.twig' %}
                </div>
</div>
{%endblock%}